<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Discord Labs</title>
      
      <link rel="apple-touch-icon" sizes="180x180" href="//cdn.discordlabs.org/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="//cdn.discordlabs.org/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="//cdn.discordlabs.org/favicon-16x16.png">
      <link rel="manifest" href="//cdn.discordlabs.org/site.webmanifest">
      <link rel="mask-icon" href="//cdn.discordlabs.org/safari-pinned-tab.svg" color="#5bbad5">
      
      <meta name='dmca-site-verification' content='cjh0U2FKYWNCWDBwQlo2WTdmQkE0UT090' />
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="theme-color" content="#7289DA">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="identifier-url" content="https://discordlabs.org">
      <meta name="keywords" content="discordlabs,discordbotlabs,discord labs, discord bot labs,discord, discord bot list, bot, bot list, bots, discord bots, botcord, bot lists, discord botcord, best discord botlist, best discord bot list">
      <meta name="language"  content="EN">
      <meta name="copyright" content="@2020 discordlabs.org">

      <meta name="description" content="Creating the next generation of Discord sites and tools.">

      <meta name="twitter:card" value="summary">
      <meta name="twitter:title" content="Discord Lab Partners">
      <meta name="twitter:description" content="Come view our amazing partners!">

      <meta property="og:title" content="Discord Lab Partners" />
      <meta property="og:url" content="https://discordlabs.org" />
      <meta property="og:description" content="Come view our amazing partners!"> 
      <meta property="og:image" content="https://cdn.discordlabs.org/logo200.png" />
      <meta property="og:site_name" value="Discord Labs">
      <link rel="stylesheet" href="/home/style.css" />


      
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link href="https://kit-pro.fontawesome.com/releases/v5.13.0/css/pro.min.css" rel="stylesheet" type="text/css" media="print" onload="this.media='all'">
    </head>  
    
   <body style="background-color:#2C2F33 !important;color:white;font-family: 'Rubik', sans-serif;">

  <!-- Navigation -->
 <%- include("../extras/navbar",{page:"partners"}) %>  

  <!-- Header -->
  <header class="bg-dark py-5 mb-5" style="background-color:#23272A!important;font-family: 'Rubik', sans-serif;">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Discord Lab Partners</h1>
          <p class="lead mb-5 text-white-50">Discord Labs couldn't be possible without our amazing partnerships.</p>
        </div>
      </div>
    </div>
  </header>
  
  
  <!-- Page Content -->
  <div class="container">
    <div class="row" id="services">
      <div class="col-md-4 mb-5">
        <div class="card h-100" style="border: 4px solid #4CC4C0;background-color:#23272A!important;">
          <a href="/plox"><img class="card-img-top" src="https://cdn.discordapp.com/icons/346715007469355009/a_a62d793864db69bd10223479af4838a2.gif?size=2048" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">Plox Host</h4>
            <p class="card-text">Plox is the leading cheapest minecraft hosting provider. With a support team that is always willing to help, owned hardware, and much more Plox is the way to go!</p>
          </div>
          <div class="card-footer" style="text-align:center;">
            <a href="/plox" class="btn btn-primary btn-lg"  style="background-color:#4CC4C0;border-color:#4CC4C0;">Visit Plox</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100"  style="border: 4px solid #CD1409;background-color:#23272A!important;">
          <img class="card-img-top" src="//cdn.discordlabs.org/talle.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Talles Designs</h4>
            <p class="card-text">Premium designs.</p>
          </div>
          <div class="card-footer" style="text-align:center;">
            <a href="/talle" class="btn btn-primary btn-lg"style="background-color:#CD1409;border-color:#CD1409;">Visit Talles Designs</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100"  style="border: 4px solid #2582a4;background-color:#23272A!important;">
          <img class="card-img-top" src="//cdn.discordlabs.org/logo.gif" alt="">
          <div class="card-body">
            <h4 class="card-title">Get Your Service Here!</h4>
            <p class="card-text">Become a Discord labs partner today by joining our Discord server & opening a ticket.</p>
          </div>
          <div class="card-footer" style="text-align:center;">
            <a href="/server" class="btn btn-primary btn-lg">Join Our Discord</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100" style="border: 4px solid #a5a1f8;background-color:#23272A!important;">
          <a href="/ear"><img class="card-img-top" src="https://eartensifier.net/images/eartensifier.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">Ear Testifier</h4>
            <p class="card-text">The only discord music bot you will ever need. Play any song from Youtube, Soundcloud, Spotify, Twitch, and more.</p>
          </div>
          <div class="card-footer" style="text-align:center;">
            <a href="/ear" class="btn btn-primary btn-lg"  style="background-color:#a5a1f8;border-color:#a5a1f8;">Start Listening!</a>
          </div>
        </div>
      </div>
      
      <div class="row">
      <div class="col-md-4 mb-5">
        <div class="card h-100" style="border: 4px solid ##56a4fe;background-color:#23272A!important;">
          <a href="/aim"><img class="card-img-top" src="https://i.imgur.com/ixo0NXw.png" alt="AIMod Logo"></a>
          <div class="card-body">
            <h4 class="card-title">AIMod</h4>
            <p class="card-text">AIMod uses machine learning to automatically process reported messages on your server. (Discord Labs uses AIMod, too!)</p>
          </div>
          <div class="card-footer" style="text-align:center;">
            <a href="/ear" class="btn btn-primary btn-lg"  style="background-color:#a5a1f8;border-color:#33cc33;">Protect Your Server!</a>
          </div>
        </div>
      </div>

      <div class="col-md-4 mb-5">
        <div class="card h-100" style="border: 4px solid #04c05a;background-color:#23272A!important;">
          <a href="//shubot.tech/?utm_source=discordlabs"><img class="card-img-top" src="//cdn.discordlabs.org/shu.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">Shu Bot</h4>
            <p class="card-text">hey kid<br><br>Own a community discord and wanna count? Use Shu, the best counting solution out there! (PS: We use it too).</p>
          </div>
          <div class="card-footer" style="text-align:center;">
            <a href="/shu" class="btn btn-primary btn-lg"  style="background-color:#04c05a;border-color:#04c05a;">Learn To Count</a>
          </div>
        </div>
      </div>
      <!--<div class="col-md-4 mb-5">
        <div class="card h-100" style="border: 4px solid #99bbff;background-color:#23272A!important;">
          <a href="//riverside.rocks/q?q=labs"><img class="card-img-top" src="https://cdn.discordlabs.org/riversiderocks.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">Riverside Rocks</h4>
            <p class="card-text">Developers of Websites and Discord Bots.</p>
          </div>
          <div class="card-footer" style="text-align:center;">
            <a href="/riverside" class="btn btn-primary btn-lg"  style="background-color:#99bbff;border-color:#99bbff;">Visit Riverside Rocks</a>
          </div>
        </div>
      </div>-->
      
    <!--<div class="col-md-4 mb-5">
        <div class="card h-100"  style="border: 4px solid #2582a4">
          <img class="card-img-top" src="//cdn.discordlabs.org/logo.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Get Your Service Here!</h4>
            <p class="card-text">Become a Discord labs partner today by joining our Discord server.</p>
          </div>
          <div class="card-footer" style="text-align:center;">
            <a href="/server" class="btn btn-primary btn-lg">Join Our Discord</a>
          </div>
        </div>
      </div>-->
    </div>
    


    <!-- /.row -->

  </div>

  <!-- /.container -->


  <script src="https://code.jquery.com/jquery-3.4.1.min.js" defer></script>
  <%- include("../extras/footer") %>  
</body>   
     
  </html>
