
<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Discord Labs</title>
      
      <link rel="apple-touch-icon" sizes="180x180" href="//cdn.discordlabs.org/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="//cdn.discordlabs.org/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="//cdn.discordlabs.org/favicon-16x16.png">
      <link rel="manifest" href="//cdn.discordlabs.org/site.webmanifest">
      <link rel="mask-icon" href="//cdn.discordlabs.org/safari-pinned-tab.svg" color="#5bbad5">
      
      <meta name='dmca-site-verification' content='cjh0U2FKYWNCWDBwQlo2WTdmQkE0UT090' />
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="theme-color" content="#7289DA">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="identifier-url" content="https://discordlabs.org">
      <meta name="keywords" content="discordlabs,discordbotlabs,discord labs, discord bot labs,discord, discord bot list, bot, bot list, bots, discord bots, botcord, bot lists, discord botcord, best discord botlist, best discord bot list">
      <meta name="language"  content="EN">
      <meta name="copyright" content="@2020 discordlabs.org">

      <meta name="description" content="Creating the next generation of Discord sites and tools.">

      <meta name="twitter:card" value="summary">
      <meta name="twitter:title" content="Discord Lab Partners">
      <meta name="twitter:description" content="Come view our amazing partners!">

      <meta property="og:title" content="Discord Lab Partners" />
      <meta property="og:url" content="https://discordlabs.org" />
      <meta property="og:description" content="Come view our amazing partners!"> 
      <meta property="og:image" content="https://cdn.discordlabs.org/logo200.png" />
      <meta property="og:site_name" value="Discord Labs">
      <link rel="stylesheet" href="/home/style.css" />
      <link rel="stylesheet" href="//usercord.org/main/style.css" />


      
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">

      
    </head>  
    



   <body style="background-color:#2C2F33 !important;color:white;font-family: 'Rubik', sans-serif;">

  <!-- Navigation -->
 <%- include("../extras/navbar",{page:"partners"}) %>  

  <!-- Header -->
  <header class="bg-dark py-5 mb-5" style="background-color:#23272A!important;font-family: 'Rubik', sans-serif;">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 text-white mt-5 mb-2">Discord Lab Partners</h1>
          <p class="lead mb-5 text-white-50">Discord Labs couldn't be possible without our amazing partnerships.</p>
        </div>
      </div>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">
    <div class="row" id="services">
      
        <div class="mb-5">
          <div class="card h-100" style="border: 4px solid #271952;background-color:#23272A!important;">
            <a href="/boo"><img class="card-img-top" src="//cdn.discordlabs.org/boosmall.png" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">Boo.Rip</h4>
              <p class="card-text">The #1 Connection Optimizer for your Internet. On sale for only $14.99</p>
            </div>
            <div class="card-footer" style="text-align:center;">
              <a href="/boo" class="btn btn-primary btn-lg" style="background-color:#271952;border-color:#271952;">Visit Boo.Rip</a>
            </div>
          </div>
        </div>
      <div class="mb-5">
        <div class="card h-100" style="border: 4px solid #04c05a;background-color:#23272A!important;">
          <a href="/iloot"><img class="card-img-top" src="https://iloot.it/assets/images/logo.png" alt=""></a>
          <div class="card-body">
            <h4 class="card-title">iLoot.It</h4>
            <p class="card-text">The gamer earning platform. Click to get started!</p>
          </div>
          <div class="card-footer" style="text-align:center;">
            <a href="/iloot" class="btn btn-primary btn-lg"  style="background-color:#04c05a;border-color:#04c05a;">Visit iLoot</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="card h-100"  style="border: 4px solid #2582a4;background-color:#23272A!important;">
          <img class="card-img-top" src="//cdn.discordlabs.org/logo.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Get Your Service Here!</h4>
            <p class="card-text">Become a Discord labs partner today by joining our Discord server.</p>
          </div>
          <div class="card-footer" style="text-align:center;">
            <a href="/server" class="btn btn-primary btn-lg">Join Our Discord</a>
          </div>
        </div>
      </div>
      
    <!--<div class="col-md-4 mb-5">
        <div class="card h-100"  style="border: 4px solid #2582a4">
          <img class="card-img-top" src="//cdn.discordlabs.org/logo.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Get Your Service Here!</h4>
            <p class="card-text">Become a Discord labs partner today by joining our Discord server.</p>
          </div>
          <div class="card-footer" style="text-align:center;">
            <a href="/server" class="btn btn-primary btn-lg">Join Our Discord</a>
          </div>
        </div>
      </div>-->
    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->


      <script src="https://code.jquery.com/jquery-3.4.1.min.js" defer></script>
   <%- include("../extras/footer") %>  
</body>   
     
  </html>
