
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Terms of Service | Discord Labs</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="//cdn.discordlabs.org/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="//cdn.discordlabs.org/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="//cdn.discordlabs.org/favicon-16x16.png">
    <link rel="manifest" href="//cdn.discordlabs.org/site.webmanifest">
    <link rel="mask-icon" href="//cdn.discordlabs.org/safari-pinned-tab.svg" color="#5bbad5">
    
    <meta name='dmca-site-verification' content='cjh0U2FKYWNCWDBwQlo2WTdmQkE0UT090' />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#7289DA">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="identifier-url" content="https://discordlabs.org">
    <meta name="keywords" content="discordlabs,discordbotlabs,discord labs, discord bot labs,discord, discord bot list, bot, bot list, bots, discord bots, botcord, bot lists, discord botcord, best discord botlist, best discord bot list">
    <meta name="language"  content="EN">
    <meta name="copyright" content="@2020 discordlabs.org">

    <meta name="description" content="Come view the Discord Labs official Terms of Service.">

    <meta name="twitter:card" value="summary">
    <meta name="twitter:title" content="Discord Labs Terms of Service">
    <meta name="twitter:description" content="Come view the Discord Labs official Terms of Service.">

    <meta property="og:title" content="Discord Labs Terms of Service" />
    <meta property="og:url" content="https://discordlabs.org" />
    <meta property="og:description" content="Come view the Discord Labs official Terms of Service."> 
    <meta property="og:image" content="https://cdn.discordlabs.org/logo200.png" />
    <meta property="og:site_name" value="Discord Labs">
    <link rel="stylesheet" href="/home/style.css" />
    <link rel="stylesheet" href="//discordlabs.org/main/style.css" />

    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://kit-pro.fontawesome.com/releases/v5.13.0/css/pro.min.css" rel="stylesheet" type="text/css" media="print" onload="this.media='all'">

  </head>  
  



 <body style="background-color:#2C2F33 !important;color:white;font-family: 'Rubik', sans-serif;">

<!-- Navigation -->
<%- include("../extras/navbar",{page:"tos"}) %>  
<!-- Header -->
<header class="bg-dark py-5 mb-5" style="background-color:#23272A!important;font-family: 'Rubik', sans-serif;">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 text-white mt-5 mb-2">Terms of Service</h1>
        <p class="lead mb-5 text-white-50">
          The Official Discord Labs Terms of Service<br><br>
          <a href="/privacy" class="btn btn-secondary">View Privacy Policy<i class="fas fa-arrow-right" style="margin-left:10px;"></i></a>
        </p>
      </div>
    </div>
  </div>
</header>



<!-- Page Content -->
<div class="privacy">
  <div class="container row">
    <div class="col-lg-4">
      <br>
      Last updated 11th of April 2020<br>
      Effective as of 12th of April 2020<br><br>
    </div>
    <div class="col-lg-8">
      
    </div>
  </div>
  
  These Terms of Service Terms govern your access to and use of <a href="//discordlabs.org" class="ulink" target="_blank">Discord Labs</a> and its services 
  (<a href="//statcord.com" class="ulink" target="_blank">"Statcord"</a> , 
  <a href="//bots.discordlabs.org" class="ulink" target="_blank">"Discord Bot Labs"</a>).
  Please read these Terms carefully, and contact us if you have any questions. By accessing or using our Products, you agree to be bound by these Terms and our Privacy policy. 
  <br><br>
  
  <h4><b style="color:white!important;">1. Using Our Services</b></h4>
  You may use our Products only if you are in compliance with these Terms and all applicable laws. If you do not agree with any of these terms, you are prohibited from using or 
  accessing this site. The materials contained in this website are protected by applicable copyright and trademark law. 
  <br>Any use or access by anyone under the age of 13 is prohibited. 
  <br><br>
  
  <h4><b style="color:white!important;">2. Your Content</b></h4>
  In these Terms of Service, "Your Content" shall mean any audio, video, text, images, or other material you choose to submit to 
  <a href="//discordlabs.org" class="ulink" target="_blank">Discord Labs</a> and its services. With respect to Your Content, by submitting it, you grant 
  <a href="//discordlabs.org" class="ulink" target="_blank">Discord Labs</a> a non-exclusive, worldwide, irrevocable, royalty-free, sublicensable license to use, reproduce, 
  adapt, publish, translate and distribute it in any and all media. In the event you would like your content removed form the website, 
  you may contact us via email at  <a href="mailto:support@discordlabs.org" class="ulink" target="_blank">support@discordlabs.org</a>
  <br><br>
  Your Content must be your own and must not be infringing on any third party’s rights. <a href="//discordlabs.org" class="ulink" target="_blank">Discord Labs</a> reserves the right to remove any of Your Content from this website at any time, 
  and for any reason, without notice.
  <br><br>
  
  <h4><b style="color:white!important;">3. Termination</b></h4>
  We may terminate your access to the website, without cause or notice, which may result in the destruction of all information associated with your account. 
  All provisions of this agreement that, by their nature, should survive termination, including, without limitation, ownership provisions, 
  warranty disclaimers, indemnity, and limitations of liability.
  <br><br>
  
  <h4><b style="color:white!important;">4. No Warranties</b></h4>
  <a href="//discordlabs.org" class="ulink" target="_blank">Discord Labs</a> and its services are provided "as is" with no warranty or liability for any outcomes of using the 
  website and/or any content you may or may not interact with on the website, and you agree that <a href="//discordlabs.org" class="ulink" target="_blank">Discord Labs</a> is not liable for any events in the past, in current times, 
  or in the future. <a href="//discordlabs.org" class="ulink" target="_blank">Discord Labs</a> is not responsible and will not take responsibility for the behavior of other parties using the website.
  <br><br>
  
  <h4><b style="color:white!important;">7. Limitation of Liability</b></h4>
  In no event shall <a href="//discordlabs.org" class="ulink" target="_blank">Discord Labs</a>, its services nor any of its representatives, be liable to you for anything 
  arising out of or in any way connected with your use of this website, whether such liability is under contract, tort or otherwise. 

  <br><br>
  
  <h4><b style="color:white!important;">8. Accuracy of Materials</b></h4>
  The materials appearing on <a href="//discordlabs.org" class="ulink" target="_blank">Discord Labs</a> or its services could include technical, typographical, or photographic errors. 
  <a href="//discordlabs.org" class="ulink" target="_blank">Discord Labs</a> does not warrant that any of the materials on its website are accurate, complete, or current. 
  <a href="//discordlabs.org" class="ulink" target="_blank">Discord Labs</a> and its users may make changes to the materials contained on the website at any time without notice. 
  However, <a href="//discordlabs.org" class="ulink" target="_blank">Discord Labs</a> does not make any commitment to update the materials.
  <br><br>
  
  <h4><b style="color:white!important;">9. Links</b></h4>
  This website contains links to many other websites not controlled by <a href="//discordlabs.org" class="ulink" target="_blank">Discord Labs</a>. 
  <a href="//discordlabs.org" class="ulink" target="_blank">Discord Labs</a> is not responsible for the contents or behavior of such linked websites. 
  The inclusion of links on this website does not imply endorsement by <a href="//discordlabs.org" class="ulink" target="_blank">Discord Labs</a>. Any use of linked websites is done at the user's own risk.
  <br><br>
  
  <h4><b style="color:white!important;">10. Modifications</b></h4>
  <a href="//discordlabs.org" class="ulink" target="_blank">Discord Labs</a> may revise these Terms of Service at any time without notice. By using this website you are agreeing to be bound by the then current version of these terms of service.
  

  <br><br>



  </div>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" defer></script>
 <%- include("../extras/footer") %>  
</body>   
   
</html>
