<link href="/main/footer.css" rel="stylesheet" media="print" onload="this.media='all'">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<!-- Site footer -->
<footer class="footer-area footer--light">
  <div class="footer-big">
    <!-- start .container -->
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          <div class="footer-widget">
            <div class="widget-about">
              <img src="https://cdn.discordlabs.org/main9.png" alt="" class="img-fluid">
              <ul class="contact-details">
                <li>
                  <a href="mailto:support@discordlabs.org" target="_blank"><i class="fal fa-envelope-open"></i> support@discordlabs.org</a>
                </li>
                <li>
                  <a href="//twitter.com/discordlab" target="_blank" rel="noopener"><i class="fab fa-twitter"></i> @discordlab</a>
                </li>
                <li>
                  <a href="//github.com/labdiscord" target="_blank" rel="noopener"><i class="fab fa-github"></i> github.com/labdiscord</a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-md-4 -->
        <div class="col-md-3 col-sm-12">
          <div class="footer-widget">
            <div class="footer-menu footer-menu--1">
              <h4 class="footer-widget-title">Useful Links</h4>
              <ul>
                <li>
                  <a href="/partners">Partners</a>
                </li>
                <li>
                  <a href="/status">Service Status</a>
                </li>
                <li>
                  <a href="/discord" target="_blank">Join Discord</a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-md-3 -->

        <div class="col-md-3 col-sm-12">
          <div class="footer-widget">
            <div class="footer-menu">
              <h4 class="footer-widget-title">Company</h4>
              <ul>
                <li>
                  <a href="//bots.discordlabs.org" target="_blank" rel="noopener">Discord Bot Labs</a>
                </li>
                <li>
                  <a href="//statcord.com" target="_blank" rel="noopener">Statcord</a>
                </li>
                <li>
                  <a href="/privacy" target="_blank" target="_blank">Privacy Policy</a>
                </li>
                <li>
                  <a href="/tos" target="_blank" target="_blank">Terms of Service</a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- end /.col-lg-3 -->

        <div class="col-md-3 col-sm-12">
          <div class="footer-widget">
            <div class="footer-menu no-padding">
              <h4 class="footer-widget-title">Sponsors</h4>
              <ul>
                <li>
                  <a href="/plox" target="_blank" rel="noopener">PloxHost</a>
                </li>
                <li>
                  <a href="/talle" target="_blank" rel="noopener">Talles Designs</a>
                </li>
                <li>
                  <a href="/partners" target="_blank" rel="noopener">View Partners</a>
                </li>
              </ul>
            </div>
            <!-- end /.footer-menu -->
          </div>
          <!-- Ends: .footer-widget -->
        </div>
        <!-- Ends: .col-lg-3 -->

      </div>
      <!-- end /.row -->
    </div>
    <!-- end /.container -->
  </div>
  <!-- end /.footer-big -->

  <div class="mini-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright-text">
            <p>© <%= new Date().getFullYear();%>
              <a href="//discordlabs.org" target="_blank" rel="noopener">Discord Labs</a>. All rights reserved. Not affiliated with Discord. 
              Created by <a href="//anishdoes.dev" target="_blank" rel="noopener">Anish</a> &amp; <a href="//protocol8.xyz" target="_blank" rel="noopener">Mozza</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>-->
<script async src="https://arc.io/widget.js#9AoN5T74" async defer></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://4qjpcntgsjv2.statuspage.io/embed/script.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-170926897-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-170926897-3');
</script>
